// 響應式尺寸
$pc:1024px;
$pad:768px;
$mobile:767px;
$mobile-md:576px;
$mobile-sm:320px;

// max-width
@mixin max-pc(){
    @media(max-width: $pc){
        @content
    }
};

@mixin max-pad(){
    @media(max-width: $pad){
        @content
    }
};

@mixin max-mobile(){
    @media(max-width: $mobile){
        @content
    }
};
@mixin max-mobile-md(){
    @media(max-width: $mobile-md){
        @content
    }
};
@mixin max-mobile-sm(){
    @media(max-width: $mobile-sm){
        @content
    }
};

// min-widht
@mixin min-pc(){
    @media(min-width: $pc){
        @content
    }
};

@mixin min-pad(){
    @media(min-width: $pad){
        @content
    }
};

@mixin min-mobile(){
    @media(min-width: $mobile){
        @content
    }
};
@mixin min-mobile-md(){
    @media(min-width: $mobile-md){
        @content
    }
};
@mixin min-mobile-sm(){
    @media(min-width: $mobile-sm){
        @content
    }
};


