.bg-cover{
  background-size: cover;
  background-position: center center;
}
.bg-category{
  width: 100%;
  height: 300px;
  position: relative;
  &:hover .title-space{
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
  }
  &:hover .title-none{
    display: none;
  }
}
.title-space{
    width: 100%;
    height: 300px;
    position: absolute;
}

.hover-color{
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 300px;
}
// 獵首服裝
.bg-hunter-suit{
  /* 網址圖片 */
  background-image: url(/bg/banner7-sm.jpg);
  position: relative;
}
.bg-hunter-change {
  background-image: url(/bg/hunter-suit-hover.jpg);
  opacity: 0;
}

.bg-hunter-change:hover {
  opacity: 1;
}

// 鎧甲
.bg-soul-armor{
  /* 網址圖片 */
  background-image: url(/bg/banner10-sm.jpg);
  position: relative;
}
.bg-armor-change {
  background-image: url(/bg/soul-armor-hover.jpg);
  opacity: 0;
}
.bg-armor-change:hover {
  opacity: 1;
}

// 獵人武器
.bg-hunter-weapon{
  /* 網址圖片 */
  background-image: url(/bg/banner12-sm.jpg);
  position: relative;
}
.bg-hunter-weapon-change {
  background-image: url(/bg/hunter-weapon-hover-sm.jpg);
  opacity: 0;
}
.bg-hunter-weapon-change:hover {
  opacity: 1;
}

// 黑魂武器
.bg-soul-weapon {
  /* 網址圖片 */
  background-image: url(/bg/banner11-sm.jpg);
  position: relative;
}
.bg-soul-weapon-change {
  background-image: url(/bg/spear3-sm-87a1b89.jpg);
  opacity: 0;
}
.bg-soul-weapon-change:hover {
  opacity: 1;
}

// 盾牌
.bg-shield {
  /* 網址圖片 */
  background-image: url(/bg/shield-banner.jpg);
  position: relative;
}
.bg-shield-change {
  background-image: url(/bg/shield-hover.jpg);
  opacity: 0;
}
.bg-shield-change:hover {
  opacity: 1;
}

// 物品

.bg-items {
  /* 網址圖片 */
  background-image: url(/bg/items-banner.jpg);
  position: relative;
}
.bg-items-change {
  background-image: url(/bg/items-banner-hover.jpg);
  opacity: 0;
}
.bg-items-change:hover {
  opacity: 1;
}


// .bg-hunter-suit:hover{
//   background-image: url('https://i.postimg.cc/nr1wZmjK/hunter-suit-hover-4994aa4.jpg')
// }
// .bg-soul-armor:hover{
//   background-image: url('https://i.postimg.cc/rmXhrj5C/soul-armor-hover-0c6c040.jpg')
// }
// .bg-hunter-weapon:hover{
//   background-image: url('https://i.postimg.cc/sxn9w4GL/hunter-weapon-hover-sm-8ab6292.jpg')
// }
// .bg-soul-weapon:hover{
//   background-image: url('https://i.postimg.cc/WbHwZSvF/spear3-sm-87a1b89.jpg')
// }
// .bg-shield:hover{
//   background-image: url('https://i.postimg.cc/Pxym5Qyq/shield-hover-544b520.jpg')
// }
// .bg-items:hover{
//   background-image: url('https://i.postimg.cc/g09ySJrG/items-banner-hover-b74f221.jpg')
// }

// 套用本地路徑的圖片，因github有時會反映延遲，先用上方網址圖片
// .bg-hunter-suit{
//     /* 圖片路徑必須加上 ~@ 才能找到 例如: ~@/assets/images/dark/banner7 -sm.jpg */
//     background-image: url('~@/assets/images/dark/banner7 -sm.jpg')
// }
// .bg-soul-armor{
//     background-image: url('~@/assets/images/dark/banner10 -sm.jpg')
// }
// .bg-hunter-weapon{
//     background-image: url('~@/assets/images/dark/banner12 -sm.jpg')
// }
// .bg-soul-weapon{
//     background-image: url('~@/assets/images/dark/banner11 -sm.jpg')
// }
// .bg-shield{
//     background-image: url('~@/assets/images/dark/shield-banner.jpg')
// }
// .bg-items{
//    background-image: url('~@/assets/images/dark/items-banner.jpg')
// }
// .bg-hunter-suit:hover{
//     background-image: url('~@/assets/images/dark/hunter-suit-hover.jpg')
// }
// .bg-soul-armor:hover{
//     background-image: url('~@/assets/images/dark/soul-armor-hover.jpg')
// }
// .bg-hunter-weapon:hover{
//     background-image: url('~@/assets/images/dark/hunter-weapon-hover-sm.jpg')
// }
// .bg-soul-weapon:hover{
//     background-image: url('~@/assets/images/dark/darksoul/weapons/spear3 -sm.jpg')
// }
// .bg-shield:hover{
//     background-image: url('~@/assets/images/dark/shield-hover.jpg')
// }
// .bg-items:hover{
//    background-image: url('~@/assets/images/dark/items-banner-hover.jpg')
// }




