.font-icon{
    font-size: 28px;
    color: $warning;
    &:hover{
        color: $danger;
        text-decoration: none !important;    
    }

}

.logo-font{
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    &:hover{
        color: $warning;
        text-decoration: none;
    }
    &-mobile{
        font-size: 20px;
        color: $white;
    }    
}
// 修改active文字效果
// a.text-warning{
//     &:hover{
//         color: $danger !important;
//         text-decoration: none !important;
//     }
//     &:focus{
//         color: $danger !important;
//         text-decoration: none !important;
//     }
// }

.mobile-navbar .active {
    color: $danger !important;
    text-decoration: none !important;    
}
