.arrow{
    position: fixed;
    bottom:10px; 
    right: 0;
    font-size: 36px;
    padding: 4px;
    cursor: pointer;
    color:white;
}
.arrow:hover{
    color:#d9212b;
}
.arrow:active{
    color:#d9212b;
}